---
---

@import url("https://fonts.googleapis.com/css2?family=Russo+One&display=swap");

/* No front matter or imports needed */

body,
p,
div,
li,
span,
h1,
h2,
h3,
h4,
h5,
h6,
a,
blockquote,
code,
pre,
ul,
ol,
table,
.navbar,
footer {
  font-family: "Courier New", monospace !important;
}

html body.fixed-top-nav div.container.mt-5 div.post article {
  font-family: "Times New Roman", Times, serif !important;
}

html body.fixed-top-nav div.container.mt-5 div.post header.post-header h1.post-title {
  // About > Titaÿna Kauffmann
  font-family: "Russo One", sans-serif !important;
}
